@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.card {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/bg-top.svg"), url("../../assets/images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 500px;
  background-color: #F7F7FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;

  
  .header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;

    h1 {
      margin: 0;
      color: hsl(233, 13%, 49%);
    }

    .period {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: hsl(234, 14%, 74%);
      position: relative;
      top: 50px;

      .switch {
        position: relative;
        display: inline-block;
        width: 55px;
        height: 28px;

        .slide {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 34px;

          .slider {
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 30px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
          }

          .year {
            left: 3px;
          }
        }

        
      }

      .anually {
        margin-right: 30px;
      }

      .monthly {
        margin-left: 30px;
      }
    }
  }

  .component {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 150px;    

    .small-com {
      width: 400px;
      height: 500px;
      background-color: #fff;
      color: hsl(232, 13%, 33%);

      span {
        border-top: 2px solid rgba(109, 112, 141, 0.2);
      }

      .memory {
        border-bottom: 2px solid rgba(109, 112, 141, 0.2);
      }

      button {
        background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        color: hsl(240, 78%, 98%);
      }
    }

    .com1 {
      border-radius: 10px 0 0 10px;
    }

    .com2 {
      width: 350px;
      height: 550px;
      background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
      border-radius: 10px;
      color: hsl(240, 78%, 98%);

      .title {
        margin-top: 55px;
      }

      span {
        border-top: 2px solid rgba(246, 246, 254, 0.1);
      }

      .memory {
        border-bottom: 2px solid rgba(246, 246, 254, 0.1);
      }

      button {
        background-color: #fff;
        color: hsl(237, 63%, 64%);
      }
    }

    .com3 {
      border-radius: 0 10px 10px 0;
    }

    .com-props {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      margin-top: 10px;

      p {
        margin-top: 30px;
      }

      h1 {
        font-size: 60px;
        display: flex;
        align-items: center;

        .unit {
          font-size: 40px;
          margin: 0 10px 0 0;
        }
      }

      span {
        width: 80%;
        padding: 15px 0;
        text-align: center;
      }

      button {
        margin-top: 50px;
        width: 80%;
        height: 38px;
        border: none;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 375px){
  body {
    overflow: visible;
  }

  .card {
    background-size: 0;
    height: 1750px;
    width: 100vw;
  }

  .card .header {
    top: 70px;
  }

  .card .component {
    top: 220px;
    flex-direction: column;
  }

  .card .component .small-com {
    width: 330px;
    border-radius: 10px;
  }

  .card .component .com2 {
    width: 330px;
  }

  .card .component .com-props button {
    margin-bottom: 20px;
  }
}